.heading {
    text-align: center;
    color:navy; font-size: 100px;
}

.sentence {
    text-align: center;
    color: black;
}

p {
    font-size: 21px;
}

.nav_link {
    background-color: blueviolet;
    color: whitesmoke;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    display: block;
    opacity: 67%;
    
}

.container {
    width: 535px;
    height: 535px;
}

.box {
    width: 215px;
    height: 215px;
}

.red {
    background-color: red;
    padding: 15px;
    margin:10px;
    border-radius: 10px;
}

.blue {
    background-color: blue;
    padding: 15px;
    margin:10px;
    border-radius: 10px;
}

.green {
    background-color: green;
    padding: 15px;
    margin:10px;
    border-radius: 10px;
}

#main-box {
    background-color: skyblue;
    padding: 20px 20px;
    border: 2px solid black
}

.white {
    color: ivory;
}

.rainbow {
    color: darkblue;
    background-color: orange;
    padding: 2.5px 5px;
    margin: 2.5px;
    border-radius: 10px;
    display: block;
    opacity: 100%;
}

.black {
    color: rgba(0, 0, 0, 0.815);
    background-color: lightgray;
    padding: 2.5px 5px;
    margin: 2.5px;
    border-radius: 10px;
    display: block;
    opacity: 100%;
}

.blee {
    color: rgb(0, 257, 295);
    background-color: black;
    padding: 4px 6.5px;
    margin: 4px;
    border-radius: 40px;
    display: block;
    opacity: 100%;
}

.blo {
    color:cyan;
    background-color: black;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 400px;
    display: block;
    opacity: 100%;
}